<div class="wrapper"></div>
<section class="container clear clearfix gray-bg">
  <div class="cleafix">
    <div class="col-10">
      <!-- Side Infos -->
      <div class="col-2">
        <div class="user-wrapper">
          <!-- Foto User -->
          <div class="user-pic">
            <img src="<%= @team.img_logo %>" alt="Foto">
          </div>
          <!-- Menu -->
          <ul class="user-tools">
            <% if !@imMember %>
                <li><a href="#"><i class="fa fa-cogs"></i> Entrar no time</a></li>
            <% end %>
            <% if @imAdmin %>
            <li><a href="/team/edit/<%= @team.name %>"><i class="fa fa-edit"></i> Editar Perfil</a></li>
            <li><a href="/team/conf/<%= @team.name %>"><i class="fa fa-cogs"></i> Configurações</a></li>
            <% end %>
          </ul>
          <!-- Amigos -->
          <div class="table-title clearfix">
            <div class="title-wrap" style="font-size: 70%;">Membros:</div>
          </div>
          <div class="list-wrapper">
            <%
               @members.each do |member|
            %>
                <a href="/user/<%=member.user.nick_name%>"> <img src="<%=member.user.img_avatar%>" alt=""></a>
            <% end %>
            <% if @imAdmin %><a href="/busca/<%= @team.id %>"> <img src="/assets/friend-search.png" alt=""></a><% end %>
          </div>
          <br>
          <!-- Historico de Times -->
          <div class="table-title clearfix">
            <div class="title-wrap" style="font-size: 70%;">Hitórico de campeonatos:</div>
          </div>
          <div class="list-wrapper">
            <!--<img src="/assets/time-1.png" alt="">-->
          </div>
        </div>
      </div>
      <!-- User Description -->
      <div class="">
        <div class="desc-wrapper">
          <h1><%= @team.name %></h1>
          <small><%= @team.about %></small><br><br>
          <small><span>Site: </span><a href="//<%= @team.website %>"><%= @team.website %></a> </small>
          <div class="user-social">
            <ul>
              <li><a href="//<%= @team.acc_fb %>"><img src="/assets/icon-facebook.png" alt=""></a></li>
              <li><a href="//<%= @team.acc_ig %>"><img src="/assets/icon-instagram.png" alt=""></a></li>
              <li><a href="//<%= @team.acc_twitter %>"><img src="/assets/icon-twitter.png" alt=""></a></li>
              <li><a href="//<%= @team.acc_tube %>"><img src="/assets/icon-youtube.png" alt=""></a></li>
              <li><a href="//<%= @team.acc_twitch %>"><img src="/assets/icon-twitch.png" alt=""></a></li>
              <li><a href="//<%= @team.acc_steam %>"><img src="/assets/icon-steam.png" alt=""></a></li>
            </ul>
          </div>
          <br>
          <div class="desc-user">
            <h2>Títulos: </h2>
            <p>
              Nenhum titulo
            </p>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/tables' unless @admin_style %>
  </div>
</section>